apiVersion: 1

datasources:
  # Prometheus - Metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: true
    editable: false
  
  # Tempo - Distributed Tracing
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    uid: tempo
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: 'elasticsearch'
        tags: ['trace_id', 'span_id']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
      tracesToMetrics:
        datasourceUid: 'prometheus'
        tags: [{ key: 'service.name', value: 'service' }]
      serviceMap:
        datasourceUid: 'prometheus'
      nodeGraph:
        enabled: true
  
  # Elasticsearch - Logs
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    uid: elasticsearch
    editable: false
    database: "otel-logs*"
    jsonData:
      timeField: "@timestamp"
      logMessageField: "message"
      logLevelField: "severity_text"
      esVersion: "8.0.0"
      includeFrozen: false
      maxConcurrentShardRequests: 5
